<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
     
      <h1 class="title has-text-centered">Typing Challenge</h1>
      
      <p class="has-text-centered">
        <span *ngFor="let char of randomText.split(''); let idx=index" 
              [class]="compare(typedText[idx],char)"
        >{{char}}</span>
      </p>
      
      <div class="field">
        <input  type="text" class="input" (input)="checkText($event)" [value]="typedText"/>
      </div>

      <div class="box has-text-centered">
        <button class="button is-info" (click)="changeText()">Change the Text</button>
      </div>

      <div class="box has-text-centered"  *ngIf="typedText===randomText">
        <h1 class="title">Success!</h1>
      </div>

      
    </div>
  </div>
</div>